@import url('navbar.css');

html, body {
    margin: 0;
    height: 100%;
}

:root {
    --text-color: white;
    --main-blur: 30px;
}

body{
    cursor: default;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("/img/abstract-background-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1{
    align-self: start;
    justify-content: left;
    
}

div{
    background-color: none;
}

/* MAIN CONTENT */

.description-div{
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    border-radius: 18px;

    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.content-container{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Skills */

.skill-div {
    background-color: rgba(255, 255, 255, .25);

    padding: 20px;
    margin: 10px;
    max-width: 300px;
    border-radius: 18px;

    transition: background-color 0.2s ease;
  }

.skill-div:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.2s ease;
}

.skill-img{
    border-radius: 0%;
    max-height: 40px;
}

/* Experiences */

.experience-div{
    background-color: rgba(255, 255, 255, .25);

    padding: 20px;
    margin: 10px;
    max-width: 300px;
    border-radius: 18px;

    transition: background-color 0.2s ease;
}

.experience-div:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.2s ease;
}

.experience-img{
    border-radius: 0%;
    max-height: 40px;
}

/* Others */

.others-div{
    background-color: rgba(255, 255, 255, .25);

    padding: 20px;
    margin: 10px;
    max-width: 300px;
    border-radius: 18px;

    transition: background-color 0.2s ease;
}

.others-div:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.2s ease;
}

.others-link{
    color: var(--text-color);
    text-decoration: underline;
    font-weight: bold;
}


/* CARDS */
.tab-bar, .skill-div, .experience-div, .others-div{
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
